---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Whatsapp from "../components/Whatsapp.astro";
import Layout from "../layouts/Layout.astro";

const pageTitle = "Sobre nosotros - COAM";
---

<Layout title={pageTitle}>
	<!--Whatsapp -->
	<Whatsapp/>
	<!--HEADER -->
	<Header/>
	<main>
		<section class="sobreNosotros">
			<div>
				<h1 class="text-gradient">SOBRE NOSOTROS</h1>
				<p>
					COAM es una empresa especializada 
					en la carpintería de aluminio de 
					alta calidad, ofreciendo precios 
					competitivos y tiempos de entrega 
					eficientes. Nos destacamos en la 
					realización de proyectos no 
					convencionales con vidrios DVH, 
					laminados y templados.
					<br>
					Proporcionamos productos de aluminio que no 
					solo cumplan con los estándares más altos de calidad, 
					sino que también superen las expectativas de nuestros 
					clientes. Nos dedicamos a brindar un servicio 
					excepcional y a construir relaciones duraderas basadas 
					en la confianza y la satisfacción.
				</p>
			</div>
		</section>
	</main>
	<!--FOOTER -->
	<Footer/>
</Layout>

<style>
	main {
		font-size: 20px;
		line-height: 1.6;
	}

	main .sobreNosotros {
		background-image: url(/gallery/img-3.jpg);
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 2rem;
	}

	main .sobreNosotros div{
		background-color: #cbd7d7;
		width: 60%;
		padding: 2rem;
	}

	main .sobreNosotros div h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}

	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}


	/**MEDIA */
	@media (max-width: 668px) {
		main .sobreNosotros div h1 {
			font-size: 2rem;
		}

		main .sobreNosotros div p{
			font-size: 1.1rem;
			line-height: 1.6;
		}

		main .sobreNosotros div{
			width: 100%;
		}
	}
</style>
