---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Whatsapp from "../components/Whatsapp.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Carpinteria de Aluminio - COAM">
	<!--Whatsapp -->
	<Whatsapp/>
	<!--HEADER -->
	<Header/>
	<main>
		<!--PORTADA -->
		<section class="portada">
			<h1>Carpinteria de </br>
				<span class="text-gradient">Aluminio</span>
			</h1>
			<p>COAM, expertos en la fabricación de aberturas de aluminio en La Plata. 
				Ofrecemos productos de alta calidad y soluciones innovadoras para mejorar 
				sus espacios con elegancia y durabilidad. ¡Descubra cómo podemos transformar 
				su proyecto con nuestras aberturas de primera clase!</p>
		</section>
		<!--SERVICIO -->
		<section class="servicio">
			<div><h1>Servicios</h1></div>
			<div class="servicio-items-container">
				<div class="servicio-item">
					<i class="fa-solid fa-layer-group"></i>
					<div>
						<h3>Almacenamiento de Materiales</h3>
						<span>
							<b>Asegura los precios actuales</b>
							para tu próxima obra. 
							Compra con anticipación y nosotros cuidaremos tus productos.
						</span>
					</div>
				</div>
				<div class="servicio-item">
					<i class="fa-solid fa-clipboard-check"></i>
					<div>
						<h3>Garantía de Calidad</h3>
						<span>
							<b>Productos de primera línea </b>
							que cumplen con los estándares de seguridad.
						</span>
					</div>
				</div>
				<div class="servicio-item">
					<i class="fa-solid fa-user-clock"></i>
					<div>
						<h3>Asesoramiento Personalizado</h3>
						<span>Optimiza tiempos y costos con nuestro asesoramiento 
							especializado.
							<b>Solicita tu presupuesto online y recíbelo el mismo día</b>
							.
						</span>
					</div>
				</div>
				<div class="servicio-item">
					<i class="fa-solid fa-money-bill-wave"></i>
					<div>
						<h3>Medios de pagos</h3>
						<span>
							<b>Elige entre nuestras diversas opciones de pago y sigue construyendo</b>
							sin preocupaciones. Aceptamos efectivo, transferencias bancarias, mercado pago y dólares americanos.
						</span>
					</div>
				</div>
			</div>
		</section>
		<!--LINEA DE PRODUCTOS -->
		<section class="producto">
			<div><h1 class="text-gradient">Productos</h1></div>
			<div class="producto-item">
				<div><img src="/images1.png" alt="Modena"></div>
				<div><img src="/images2.png" alt="A30"></div>
				<div class="producto-herrero">
					<img src="/imagen3.jpg" alt="Herrero">
					<span>Herrero</span>
				</div>
			</div>
		</section>
		<!--Productos Complementarios -->
		<section class="otrosProductos">
			<div><h1 class="text-gradient">Productos Complementarios</h1></div>
			<div>
				<ul>
					<li>Mosquiteros</li>
					<li>Mamparas</li>
					<li>Barandas</li>
					<li>Espejos</li>
				</ul>
			</div>
		</section>
	</main>
	<Footer/>
</Layout>

<style>
	/**PORTADA */
	main {
		color: white;
		font-size: 2rem;
		line-height: 1.6;
	}

	main .portada{
		display: flex;
		flex-direction: column;
		align-items: center;
		background-image: url(/portada_inicio.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
    	background-position: center;
	}

	main .portada h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin: 3rem 0 3rem 0;
	}

	main .portada p {
		width: 30%;
		margin: 1rem 3rem 3rem 3rem;
		padding: 0 2rem 0 2rem;
		border-radius: 10px;
		font-size: 1rem;
		background-color: rgba(0, 0, 0, 50%)
	}

	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}

	/**SERVICIO */
	.servicio {
		background-color: #cbd7d7;
		padding: 50px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.servicio .servicio-items-container {
    	display: flex;
    	flex-wrap: wrap;
		justify-content: center;
	}

	.servicio .servicio-item{
		width: 400px;
		box-sizing: border-box;
		background-color: azure;
		border-radius: 10px;
		padding: 2rem;
		margin: 1rem;
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.servicio .servicio-item div {
		font-size: 1rem;
		color: black;
	}

	.servicio .servicio-item div h3 {
		color: #333;
    	padding-bottom: .5rem;
	}

	.servicio .servicio-item i{
		color: #00a1d5;
		font-size: 3rem;
		margin-right: 1.5rem;
	}

	/**Productos */
	.producto {
		margin-top: 50px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.producto .producto-item{
		margin-top: 50px;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
		gap: 1rem;
	}

	

	.producto .producto-item div img{
		width: 15rem;
		height: 15rem;
	}

	.producto .producto-item .producto-herrero {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.producto .producto-item div span{
		color: #333;
	}

	/**Productos Complementarios */
	.otrosProductos {
		margin-top: 50px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 3rem;
	}

	.otrosProductos div h1{
		text-align: center;
	}

	.otrosProductos div ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 1rem;
	}

	.otrosProductos div ul li {
		height: 10rem;
		width: 10rem;
		color: #333;
		background-color: #cbd7d7;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1.5rem;
		
	}
</style>
