---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Swiper from "../components/Swiper.astro";
import Whatsapp from "../components/Whatsapp.astro";
import Layout from "../layouts/Layout.astro";
---

<script>
	let cardItems = document.querySelectorAll(".card-item");

	(document.querySelector('#card-down-modena') as HTMLElement).onclick = () =>{
		cardItems[0].classList.toggle('active');
		cardItems[1].classList.remove('active');
		cardItems[2].classList.remove('active');
	}

	(document.querySelector('#card-down-a30') as HTMLElement).onclick = () =>{
		cardItems[1].classList.toggle('active');
		cardItems[0].classList.remove('active');
		cardItems[2].classList.remove('active');
	}

	(document.querySelector('#card-down-herrero') as HTMLElement).onclick = () =>{
		cardItems[2].classList.toggle('active');
		cardItems[0].classList.remove('active');
		cardItems[1].classList.remove('active');
	}


	let otherCardsItems = document.querySelectorAll('.otrosProductos-card');

	(document.querySelector('#card-down-mosquitero') as HTMLElement).onclick = () =>{
		otherCardsItems[0].classList.toggle('active');
		otherCardsItems[1].classList.remove('active');
		otherCardsItems[2].classList.remove('active');
		otherCardsItems[3].classList.remove('active');
	}

	(document.querySelector('#card-down-mampara') as HTMLElement).onclick = () =>{
		otherCardsItems[1].classList.toggle('active');
		otherCardsItems[0].classList.remove('active');
		otherCardsItems[2].classList.remove('active');
		otherCardsItems[3].classList.remove('active');
	}

	(document.querySelector('#card-down-baranda') as HTMLElement).onclick = () =>{
		otherCardsItems[2].classList.toggle('active');
		otherCardsItems[0].classList.remove('active');
		otherCardsItems[1].classList.remove('active');
		otherCardsItems[3].classList.remove('active');
	}

	(document.querySelector('#card-down-espejo') as HTMLElement).onclick = () =>{
		otherCardsItems[3].classList.toggle('active');
		otherCardsItems[0].classList.remove('active');
		otherCardsItems[1].classList.remove('active');
		otherCardsItems[2].classList.remove('active');
	}
</script>

<Layout title="Carpinteria de Aluminio - COAM">
	<!--Whatsapp -->
	<Whatsapp />
	<!--HEADER -->
	<Header />
	<main>
		<!--PORTADA -->
		<section class="portada">
			<h1>Carpinteria de<br>Aluminio</h1>
			<p>
				COAM, somos una empresa joven expertos en la fabricación de aberturas de aluminio. Ofrecemos productos de alta calidad y soluciones
				innovadoras para mejorar sus espacios con elegancia y
				durabilidad. ¡Descubra cómo podemos transformar su proyecto con
				nuestras aberturas de primera clase!
			</p>
		</section>
		<!--SERVICIO -->
		<section class="servicio">
			<div><h1>Servicios</h1></div>
			<div class="servicio-items-container">
				<div class="servicio-item">
					<i class="fa-solid fa-layer-group"></i>
					<div>
						<h3>Almacenamiento de Materiales</h3>
						<span>
							<b>Asegura los precios actuales</b>
							para tu próxima obra. Compra con anticipación y nosotros
							cuidaremos tus productos.
						</span>
					</div>
				</div>
				<div class="servicio-item">
					<i class="fa-solid fa-clipboard-check"></i>
					<div>
						<h3>Garantía de Calidad</h3>
						<span>
							<b>Productos de primera línea </b>
							que cumplen con los estándares de seguridad.
						</span>
					</div>
				</div>
				<div class="servicio-item">
					<i class="fa-solid fa-user-clock"></i>
					<div>
						<h3>Asesoramiento Personalizado</h3>
						<span
							>Optimiza tiempos y costos con nuestro asesoramiento
							especializado.
							<b
								>Solicita tu presupuesto online y recíbelo el
								mismo día</b
							>
							.
						</span>
					</div>
				</div>
				<div class="servicio-item">
					<i class="fa-solid fa-money-bill-wave"></i>
					<div>
						<h3>Medios de pagos</h3>
						<span>
							<b
								>Elige entre nuestras diversas opciones de pago
								y sigue construyendo</b
							>
							sin preocupaciones. Aceptamos efectivo, transferencias
							bancarias, mercado pago y dólares americanos.
						</span>
					</div>
				</div>
			</div>
		</section>
		<!-- MINI GALERIA -->
		<section class="min-galeria">
			<div><a href="/ourWork"><h1>Nuestro Trabajo</h1></a></div>
			<Swiper />
			<div><a href="/ourWork"><p>ver mas...</p></a></div>
		</section>
		<!--LINEA DE PRODUCTOS -->
		<section class="producto">
			<div><h1>Productos</h1></div>
			<div class="producto-item">
				<div>
					<img src="/images1.png" alt="Modena" />
					<span id="card-down-modena"><i class="fa-solid fa-caret-down"></i></span>
				</div>
				<div>
					<img src="/images2.png" alt="A30" />
					<span id="card-down-a30"><i class="fa-solid fa-caret-down"></i></span>
				</div>
				<div>
					<img src="/imagen3.jpg" alt="Herrero" />
					<span id="card-down-herrero"><i class="fa-solid fa-caret-down"></i></span>
				</div>
			</div>
			<!--Desplegable -->
			<div class="card-item active">
				<div class="tipo-alum">
					<div class="alum-info">
						<h2>MODENA - ACTUAL</h2>
						<p>
							<strong>Sistema de carpintería de mediana prestación. Su diseño permite combinar perfiles con bordes redondeados o rectos, lo que otorga una mayor flexibilidad en su estética.</strong>
							<br>
							- Es el sistema más tradicional utilizado.
							<br>
							- Excelentes valores de durabilidad, acabado y dureza superficial.
							<br>
							- Colocación en seco, mediante la utilizacion de premarcos.
							<br>
							- Admite cristales de seguridad y DVH.
						</p>
					</div>
					<div class="alum-img">
						<img src="/modena-img.webp" alt="imagen de modena">
					</div>
				</div>
				<div class="catalogo">
					<a target="_blank" href="https://drive.google.com/file/d/0BxPi1Jf6mFLfVTBmSExtdjNzMjg/view?resourcekey=0-EjyDTkXQl3_ACeHe43Kg_g">Catálogo</a>
				</div>
			</div>
			<div class="card-item">
				<div class="tipo-alum">
					<div class="alum-info">
						<h2>A30 NEW</h2>
						<p>
							Es un Sistema de Carpintería de gran prestigio en el mercado, utilizado en las obras más emblemáticas debido a su diseño y excelente performance.
							<br>
							<br>
							Se puede utilizar vidrio simple o Doble Vidriado Hermético (DVH).
							<br>
							Simplicidad, diseño, funcionalidad y calidad.
							<br>
							Confort, seguridad y eficiencia.
							<br>
							Amplia gamma de complementos y accesorios.
						</p>
					</div>
					<div ><img src="/a30-img.webp" alt=""></div>
				</div>
				<div class="catalogo">
					<a target="_blank" href="https://www.aluar.com.ar/assets/admin/archivos/sistemas/pdf/3/CATALOGO_TECNICO_A30_NEW_V08221.pdf">Catálogo</a>
				</div>
			</div>
			<div class="card-item">
				<div class="tipo-alum">
					<div class="alum-info">
						<h2>CLÁSICO - HERRERO</h2>
						<p>
							El sistema de carpintería Clásica, combina diferentes perfiles y permite realizar aberturas económicas y tradicionales con muy buena resistencia mecánica.
							<br>
							<br>
							Se utiliza generalmente en viviendas unifamiliares, escuelas y comercios.
						</p>
					</div>
					<div class="alum-img"><img src="/herrero-img.webp" alt=""></div>
				</div>
				<div class="catalogo">
					<a target="_blank" href="https://drive.google.com/file/d/0BxPi1Jf6mFLfeGdvV05EQ1g1NlU/view?resourcekey=0-duXdwJFLG_hhr4hKRw-yoQ">Catálogo</a>
				</div>
			</div>
			<!--Colores -->
			<div class="colores-alum">
				<div class="content-title"><div class="title"><h3>Colores de Aberturas</h3></div></div>
				<div class="content-colors">
					<div class="content-img-colors">
						<div><img src="/aluminio-pintado.jpg" alt=""></div>
						<p>Aluminio Pintado</p>
					</div>
					<div class="content-img-colors">
						<div><img src="/anodizado-colores.jpg" alt=""></div>
						<p>Anodizado</p>
					</div>
					<div class="content-img-colors">
						<div><img src="/muestrario-simil-madera.jpg" alt=""></div>
						<p>Símil Madera</p>
					</div>
				</div>
			</div>
			<!--Cristales -->
			<div class="colores-alum">
				<div class="content-title"><div class="title"><h3>Cristales</h3></div></div>
				<div class="content-colors">
					<div class="content-img-colors">
						<div><img src="/cristal-float.jpg" alt=""></div>
						<p>FLOAT</p>
						<ol>
							<li>Cristal plano transparente</li>
							<li>Libre de distosión</li>
							<li>Caras planas y paralelas</li>
							<li>Superficie brillante, pulida a fuego</li>
							<li>Espesor constante</li>
							<li>Transparencia perfecta</li>
							<li>Vision clara sin distorsión óptica</li>
						</ol>
					</div>
					<div class="content-img-colors">
						<div><img src="/laminado.jpg" alt=""></div>
						<p>LAMINADO</p>
						<ol>
							<li>Gran resistencia</li>
							<li>Rotura segura</li>
							<li>Solución ideal para aberturas seguras</li>
							<li>Mantiene su integridad y visibilidad<br>ante impactos</li>
							<li>Aumenta el nivel de aislación acústica</li>
						</ol>
					</div>
					<div class="content-img-colors">
						<div><img src="/cristal-dvh.jpg" alt=""></div>
						<p>DVH</p>
						<ol>
							<li>Aislamiento térmico superior</li>
							<li>Mejora el aislamiento acústico</li>
							<li>Puede variar combinaciones de cristales<br>para cubrir distintas necesidades</li>
							<li>Potente instrumento de ahorro energético</li>
							<li>Elimina la condensación de humedad</li>
						</ol>
					</div>
				</div>
			</div>
		</section>
		<!--Productos Complementarios -->
		<section class="otrosProductos">
			<div><h1>Productos Complementarios</h1></div>
			<div>
				<ul>
					<li id="card-down-mosquitero">Mosquitero<span>A</span></li>
					<li id="card-down-mampara">Mampara<span>A</span></li>
					<li id="card-down-baranda">Baranda<span>A</span></li>
					<li id="card-down-espejo">Espejo<span>A</span></li>
				</ul>
			</div>
			<div class="otrosProductos-info">
				<div class="otrosProductos-card active">
					<div><img src="/mosquitero.webp" alt=""></div>
					<h3>MOSQUITERO</h3>
					<p>Fabricamos mosquiteros diseñados a medida para evitar la entrada de mosquitos y otros insectos, adaptándolos a las características específicas de cada abertura. Ofrecemos opciones de mosquiteros corredizos, rebatibles o fijos, según tus necesidades. En caso de que la abertura no cuente con guías para mosquiteros, instalaremos las necesarias tanto en la parte superior como inferior. Las guías pueden ser simples o dobles, asegurando así una instalación adecuada y duradera.</p>
				</div>
				<div class="otrosProductos-card">
					<div><img src="/mampara.jpg" alt=""></div>
					<h3>MAMPARAS</h3>
					<p>Fabricamos e instalamos mamparas de baño a medida, diseñadas para brindar seguridad y estilo a tu espacio. Nuestras mamparas se adaptan a cualquier configuración de baño y están disponibles en diferentes opciones: paneles corredizos con guías de aluminio, hojas fijas y rebatibles. Tambien, ofrecemos una línea de mamparas de policarbonato. Cada mampara es personalizada para garantizar un ajuste perfecto y un acabado profesional que complementa tu baño.</p>
				</div>
				<div class="otrosProductos-card">
					<div><img src="/baranda.jpg" alt=""></div>
					<h3>BARANDAS</h3>
					<p>Nuestras barandas de aluminio están diseñadas para proporcionar seguridad y soporte en balcones, terrazas, escaleras y pasillos. Fabricadas principalmente en aluminio, estas estructuras son altamente duraderas, resistentes a la corrosión y requieren poco mantenimiento. Además de su funcionalidad, ofrecen una apariencia moderna y elegante, y están disponibles en una variedad de estilos y diseños para satisfacer diversas necesidades y preferencias estéticas.</p>
				</div>
				<div class="otrosProductos-card">
					<div><img src="/espejo.jpg" alt=""></div>
					<h3>ESPEJOS</h3>
					<p>Ofrecemos espejos a medida para cualquier espacio, diseñados para aportar estilo y funcionalidad a tu hogar o negocio. Nuestros espejos están fabricados con materiales de alta calidad y son personalizados para adaptarse a tus necesidades específicas. Disponibles en una variedad de tamaños, formas y estilos, nuestros espejos son perfectos para baños, vestidores, salones y cualquier otro espacio donde se desee añadir un toque de elegancia y amplitud, garantizando un acabado impecable y duradero.</p>
				</div>
			</div>
		</section>
	</main>
	<Footer />
</Layout>

<style>
	/**PORTADA */
	main {
		line-height: 1.6;
	}

	.portada {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: rgb(100, 100, 100);
		background-image: url(/portada_inicio.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
		background-blend-mode: soft-light;
	}

	.portada h1 {
		color: #ffffff;
		font-size: 4rem;
		font-weight: 700;
		line-height: 1.2;
		text-align: center;
		margin-top: 50px;
	}

	.portada p {
		color: var(--title-b);
		width: 50%;
		margin: 3rem 3rem 50px 3rem;
		padding: 2rem;
		border-radius: 10px;
		font-size: 1rem;
		background-color: rgba(0, 0, 0, 50%);
	}

	/**SERVICIO */
	.servicio {
		padding: 50px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.servicio div h1 {
		color: var(--title-w);
		font-size: 2rem;
		line-height: 50px;
		border-bottom: 1px solid var(--iconography-w);
	}

	.servicio .servicio-items-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 50px;
	}

	.servicio  .servicio-items-container .servicio-item {
		width: 400px;
		box-sizing: border-box;
		background-color: var(--background-b);
		border-radius: 10px;
		padding: 2rem;
		margin: 1rem;
		display: flex;
		flex-direction: row;
		align-items: center;
		box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 25%)
	}

	.servicio .servicio-items-container .servicio-item i {
		color: rgb(var(--celeste));
		font-size: 3rem;
		margin-right: 1.5rem;
	}

	.servicio .servicio-items-container .servicio-item div h3 {
		font-size: 1rem;
		color: var(--title-b);
	}

	.servicio .servicio-items-container .servicio-item div span{
		color: var(--body-text-b);
		font-size: 0.9rem;
	}

	/**MIN-GALERIA */
	.min-galeria div h1 {
		font-size: 2rem;
		color: var(--title-w);
		line-height: 50px;
		border-bottom: 1px solid var(--iconography-w);
	}

	.min-galeria {
		margin-top: 50px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.min-galeria div p {
		color: var(--body-text-w);
		margin-top: 10px;
		font-size: 1.1rem;
		font-weight: 700;
	}

	/**Productos */
	.producto {
		margin-top: 50px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.producto div h1{
		color: var(--title-w);
		font-size: 2rem;
		border-bottom: 1px solid var(--iconography-w);
		line-height: 50px;
	}

	.producto .producto-item {
		margin-top: 50px;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
		gap: 1rem;
	}

	.producto .producto-item div img {
		width: 15rem;
		height: 15rem;
		border-radius: 0px 20px 20px 20px;
		box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 25%);
	}

	.producto .producto-item div {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.producto .producto-item div span{
		color: var(--title-w);
		position: relative;
		top: 0px;
		font-size: 30px;
		cursor: pointer;
	}

	/**CARD ITEM */
	.producto .card-item{
		display: none;
		border-top: 4px solid #000;
	}

	.producto .card-item.active {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.producto .card-item .tipo-alum {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.producto .card-item .tipo-alum .alum-info {
		width: 500px;
		padding: 1rem;
	}

	.producto .card-item div div img {
		margin-top: 10px;
		width: 270px;
	}

	.producto .card-item div div h2 {
		color: var(--obsidian);
	}

	.producto .card-item div div p{
		color: var(--body-text-w);
		font-size: 1.3rem;
	}

	.producto .card-item div a{
		color: var(--obsidian);
		font-size: 1.5rem;
		padding: 5px 25px;
		background-color: var(--background-w);
		border-radius: 40px;
		border: 1px solid var(--obsidian);
		box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 25%);
	}
	/**COLORES ALUMINIO */
	.producto .colores-alum {
		margin-top: 50px;
	}

	.producto .colores-alum .content-title .title h3 {
		color: var(--obsidian);
		font-size: 1.9rem;
		border-bottom:3px solid var(--obsidian);
		margin-bottom: 15px;
		padding-left: 10px;
	}

	.producto .colores-alum .content-colors {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}

	.producto .colores-alum .content-colors .content-img-colors {
		display: flex;
		flex-direction: column;
		margin: 0px 5px;
	}

	.producto .colores-alum div div p{
		color: #333;
		font-size: medium;
		padding-bottom: 10px;
	}

	.producto .colores-alum div div img {
		width: 300px;
		height: auto;
	}
	/**CRISTALES */
	.producto .colores-alum div div ol li{
		color: #999;
		list-style-type: circle;
		font-size: small;
	}
	/**Productos Complementarios */
	.otrosProductos {
		margin-top: 50px;
		padding: 50px 0 50px 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 3rem;
		background-color: var(--background-b);
	}

	.otrosProductos div h1 {
		font-size: 2rem;
		text-align: center;
		color: var(--title-b);
		line-height: 50px;
		border-bottom: 1px solid var(--iconography-b);
	}

	.otrosProductos div ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 1rem;
	}

	.otrosProductos div ul li {
		height: 10rem;
		width: 10rem;
		color: var(--obsidian);
		background-color: rgb(var(--celeste));
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		font-size: 1.5rem;
		line-height: 0px;
		cursor: pointer;
		box-shadow: 4px 0 4px 0 rgba(255, 255, 255, 25%);
	}

	.otrosProductos div ul li:hover {
		box-shadow: none;
		background-color: rgb(var(--celeste-fuerte));
	}

	.otrosProductos div ul li span {
		position: relative;
		color: var(--title-b);
		filter: blur(3px);
		top: 100px;
	}

	.otrosProductos .otrosProductos-info .otrosProductos-card {
		display: none;
		background-color: var(--title-b);
		width: 500px;
		margin: 3rem;
		padding: 3rem;
		border-radius: 30px;
	}

	.otrosProductos .otrosProductos-info .otrosProductos-card.active {
		display: block;
	}

	.otrosProductos .otrosProductos-info .otrosProductos-card div {
		display: flex;
		justify-content: center;
	}

	.otrosProductos .otrosProductos-info .otrosProductos-card div img {
		width: 300px;
		height: auto;
		padding-bottom: 1rem;
	}

	.otrosProductos .otrosProductos-info .otrosProductos-card h3 {
		color: var(--title-w);
		padding-bottom: 0.5rem;
	}

	.otrosProductos .otrosProductos-info .otrosProductos-card p {
		color: var(--body-text-w);
	}

	/**MEDIAS */
	@media (max-width: 668px) {
		.servicio .servicio-items-container .servicio-item {
			width: 300px;
		}

		.otrosProductos div h1 {
			font-size: 2rem;
		}

		main .portada h1 {
			font-size: 2rem;
		}

		main .portada p {
			width: 270px;
			margin: 1rem 0rem 50px 0rem;
			padding: 1rem;
		}
	}
</style>
