---
const telefono = "2216265204";
const mail = "coamaluminio@gmail.com";
---

<footer>
  <div>
    <aside>
      <h4>Contacto</h4>
      <div>
        <p>Horario de atencion Lunes a Viernes 8 a 18hs - Sabado 8 a 13hs</p>
        <p>{telefono}</p>
        <p>
          <a href="https://wa.me/542216265204">
            WhatsApp +549{telefono}
          </a>
        </p>
        <p>
          Avenida 520 entre 152 y 153 - La Plata (1900)</br>
          <a href="">{mail}</a>
        </p>
      </div>
    </aside>
    <aside>
      <h4>Informacion</h4>
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/aboutUs">Sobre nosotros</a></li>
        <li><a href="/ourWork">Nuestro Trabajo</a></li>
        <li><a href="/contact">Contacto</a></li>
      </ul>
    </aside>
    <aside>
      <h4>COAM en la redes</h4>
      <ul>
        
        <li>
          <i class="fa-brands fa-facebook"></i>
          <a href="https://www.facebook.com/profile.php?id=61556542996772">Facebook</a>
        </li>
        <li>
          <i class="fa-brands fa-instagram"></i>
          <a href="https://www.instagram.com/coam.aluminio">Instagram</a>
        </li>
      </ul>
    </aside>
  </div>
</footer>

<style>
  footer{
    margin-top: 5rem;
  }

  footer div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  footer div aside {
    width: 180px;
    padding: 0.5rem;
  }

  footer div aside h4 {
    margin-bottom: 1rem;
  }

  footer div aside div {
    display: flex;
    flex-direction: column;
  }

  footer div aside div p{
    margin-bottom: 0.2rem;
    line-height: 2rem;
  }

  footer div aside ul {
    list-style-type: none;
    line-height: 2rem;
  }

  /**MEDIAS */
  @media  (max-width: 668px){
    
  } 
</style>