---
const platform = "github";
const username = "retak1ng";
---

<footer>
  <div>
    <aside>
      <h4>Contacto</h4>
      <div>
        <p>Horario de atencion Lunes a Viernes 8 a 18hs Sabado 8 a 13hs</p>
        <p>Numero de celular</p>
        <p>
          <a href="">
            WhatsApp +549{}
          </a>
        </p>
        <p>
          Avenida 520 entre 155 y 156 - La Plata (1900)</br>
          <a href="">coam.aluminio@gmail.com</a>
        </p>
      </div>
    </aside>
    <aside>
      <h4>Informacion</h4>
      <ul>
        <li>Inicio</li>
        <li>Sobre Nosotros</li>
        <li>Nuestro Trabajo</li>
        <li>Contacto</li>
      </ul>
    </aside>
    <aside>
      <h4>COAM en la redes</h4>
      <ul>
        <li>Facebook</li>
        <li>Instragram</li>
      </ul>
    </aside>
  </div>
</footer>

<style>
  footer{
    margin-top: 5rem;
  }

  footer div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  footer div aside {
    width: 180px;
    padding: 0.5rem;
  }

  footer div aside h4 {
    margin-bottom: 1rem;
  }

  footer div aside div {
    display: flex;
    flex-direction: column;
  }

  footer div aside div p{
    margin-bottom: 0.2rem;
    line-height: 2rem;
  }

  footer div aside ul {
    list-style-type: none;
    line-height: 2rem;
  }

  /**MEDIAS */
  @media  (max-width: 668px){
    
  } 
</style>