---
import 'photoswipe/style.css';
---
<script>
    import PhotoSwipeLightbox from 'photoswipe/lightbox';

    const lightbox = new PhotoSwipeLightbox({
        gallery: '#gallery',
        children: 'a',
        pswpModule: () => import('photoswipe')
    });
    lightbox.init();
</script>

<div class="pswp-gallery" id="gallery">
    {
        Array.from({ lenght: 9 }).map((_,i) => (
            <a 
                href={'/gallery/img-${i+1}.jpg'} 
                target="_blank">
                <img 
                    src={'/gallery/img-${i+1}.webp'} 
                    alt=""
                />
            </a>
        ))
    }
</div>
