---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Carpintería de Aluminio - COAM - La Plata"
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/icon.png" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap"
			rel="stylesheet"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 29, 12, 6;
		--accent-light: 0, 161, 213;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 25%,
			white 60%
		);
	}

	* {
		padding: 0;
		margin: 0;
		font-family: "Cabin", sans-serif;
		outline: none;
		text-decoration: none;
		list-style-type: none;
		box-sizing: border-box;
	}

	html {
		/*background: azure;*/
		scroll-behavior: smooth;
	}

	/* Cambiar el color del fondo del scrollbar */
	::-webkit-scrollbar-track {
		background: #f1f1f1;
	}

	/* Cambiar el color del thumb cuando el usuario lo esté interactuando */
	::-webkit-scrollbar-thumb:hover {
		background: #555;
	}
</style>
